.rbc-header {
  font-family: "Roboto", sans-serif;
  background: #0c2c4b;
  color: white;
  padding: 10px;
  font-weight: bold;
  height: 25px; /* Increase the height as desired */
  line-height: 25px;
}

.rbc-toolbar-label {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: bold;
}

.rbc-event {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  padding: 2px !important;
  font-size: 12px;
  background-color: transparent !important;
}

.rbc-agenda-time-cell,
.rbc-agenda-event-cell,
.rbc-agenda-date-cell {
  font-family: "Roboto", sans-serif !important;
  font-weight: 600 !important;
}

.rbc-event-content {
  padding: 2% !important;
  font-size: 16px;
  /* background-color: #f0b754; */
}

.rbc-event-label {
  display: none !important;
}

/* Base button style */
.rbc-toolbar button {
  display: inline-block !important;
  padding: 10px 20px !important;
  font-family: "Roboto", sans-serif !important;
  font-weight: bold !important;
  background-color: #124374 !important; /* Slightly lighter than #0c2c4b */
  color: white !important;
}

.rbc-toolbar button:active,
.rbc-toolbar button.rbc-active {
  background-color: #0c2c4b !important;
  color: white !important;
}

.rbc-row-segment,
.rbc-event-content,
.rbc-task-content {
  white-space: wrap !important;
}
